#wrapper {
  width:1000px;
  height:700px;
  position: relative;
}

#tester {
   width:100%;
   height:100%;
}
#progInfo {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  display: none;
  font-family: "Poppins";
}

#bghider {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background-color:rgba(255,255,255,.8);
}

#topbar {
  background-color: #898D8D;
  width:60%;
  height:80%;
  position: absolute;
  top:10%;
  left:20%;
  box-shadow: 0px 70px 100px -40px grey;

}


#progTitle {
  background-color: lightblue;
  width:60%;
  height:15%;
  position:relative;
  top:0%;
  left:0%;
}

#progName {
  font-size: 20px;
  padding:5px;
}
#orgName {
  font-size:14px;
  padding:5px;
  font-style: italic;
}

#primaryOutcome {

}



#benchmarkSection {
  background-color:green;
  position: absolute;
  top:22%;
  left:5%;
  width: 90%;
  height: 30%;
  font-size: 12px;

}
#benchmarkSection table {
  height:100%;
  width:100%;
}
#benchmarkSection table, th, td {
  border-collapse:collapse;
  border:10px solid #898D8D;
  padding: 5px;
}

#benchmarkSection td {

  text-align: center;
  background-color:green;
}
#benchmarkSection th {


  background-color:#898D8D;
}
#benchmarkSection th:first-child {
  background-color: #898D8D;
  width:35%;
}

#benchmarkSection td:first-child {
  background-color: #898D8D;
  width:35%;
  text-align: left;
  font-style: italic;
}

#additionalOutcomes {

}

#donateLink {

  width:30%;
  height:10%;
  position: absolute;
  top:2.5%;
  left:65%;
  text-align: center;
}
#donateLink:link {
  background-color: white;
  color:black;
}
#donateLink:hover{
  background-color: lightyellow;
  color:red;
}
#donateLink span {

  top:50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
